<body>
    <div  class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img [src]="imagePath" alt="sing up image">
                        </figure>
                        <a href="http://localhost:4200/signup" class="signup-image-link">Create an account</a>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form class="sign-in-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()"[autocomplete]="false">
                            <div class="form-group">
                                <label for="your_name"><i class="mdi mdi-account"></i></label>
                                <input formControlName="email" type="text" name="username" id="email"
                                    placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="mdi mdi-lock"></i></label>
                                <input formControlName="password" type="password" name="password" id="password"
                                    placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input  type="submit" name="signin" id="signin" class="form-submit"
                                    value="Log in" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>